<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title inertia>
      Mynte Studio
    </title>

    <meta name="description" content="Webdesign agency based in Dubai, UAE." />

    <!-- Open Graph Card -->
    <meta property="og:title" content="Mynte Studio | Web Agency Dubai" />
    <meta property="og:description" content="Webdesign agency based in Dubai, UAE." />
    <!-- TODO: change file -->
    <meta property="og:image" content="https://mynte.studio/images/card_1200x630.jpg" />
    <meta property="og:url" content="https://mynte.studio/" />
    <meta property="og:type" content="website" />

    <!-- X Card -->
    <meta property="twitter:domain" content="mynte.studio" />
    <meta property="twitter:url" content="https://mynte.studio" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Mynte Studio | Web Agency Dubai" />
    <meta name="twitter:description" content="Webdesign agency based in Dubai, UAE." />
    <!-- TODO: change file -->
    <meta name="twitter:image" content="https://mynte.studio/images/card_1200x675.jpg" />

    @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body class="min-h-screen w-screen font-sans">
    @inertia()
  </body>

</html>

