.container {
  @apply relative flex items-center;
  overflow: hidden;
  height: 50px;
  max-width: 800px;
  margin: 0 auto;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
}

@media (min-width: 640px) {
  .container {
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );
  }
}

.container > div {
  @apply absolute flex items-center gap-10;
}

.container > div svg {
  width: auto;
  height: auto;
  max-width: none;
  flex-shrink: 0;
  min-width: 100px;
  transform: scale(0.7);
}

.container > div:first-of-type {
  left: 0;
  animation:
    translate 11250ms linear,
    infiniteTranslate2 23625ms 11250ms linear infinite;
}

.container > div:last-of-type {
  left: 0;
  transform: translate3d(110%, 0, 0);
  animation: infiniteTranslate1 23625ms 100ms linear infinite;
}

@keyframes infiniteTranslate1 {
  from {
    transform: translate3d(110%, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes infiniteTranslate2 {
  from {
    transform: translate3d(117%, 0, 0);
  }
  to {
    transform: translate3d(-93%, 0, 0);
  }
}

@keyframes translate {
  from {
    transform: translate3d(6%, 0, 0);
  }
  to {
    transform: translate3d(-94%, 0, 0);
  }
}
